# OpenSSL configuration file for root CA.

# Configuration for `openssl req`
# See `man req` or https://www.openssl.org/docs/manmaster/man5/x509v3_config.html
[ req ]
default_keyfile     = $dir/ca.key.pem           # Name of generated private key. Overridden by -keyout
default_bits        = 4096                      # If used with -new, specify number of bits in key. Override with -newkey
distinguished_name  = req_distinguished_name    # Specify config file section for Distinguished Name.
string_mask         = utf8only                  # Permit only these characters
default_md          = sha256                    # Override with -[digest]

prompt = no                                     # Read config file for Distinguished Name. Do not prompt user.
# req_extensions = req_ext                        # Config file section that extends the certificate request. Override with -reqexts
x509_extensions     = v3_ca                     # Extensions for when -x509 is used. Overriden by -extensions

[ req_distinguished_name ]
# If prompt = no, specify values for Distinguished Name
countryName             = "US"                                  # C
stateOrProvinceName     = "California"                          # ST
localityName            = "Monterey"                            # L
organizationName        = "CyberData Corporation"               # O
organizationalUnitName  = "CyberData Certificate Authority"     # ON
commonName              = "CyberData Root CA"                   # CN
# emailAddress =
# name
# surname
# givenName
# initials ?
# dnQualifier

# If prompt = yes, you may override the prompts for Distinguished Name
# countryName             = "Enter a two-letter Country Name"
# countryName_min         = 2
# # countryName_max is always 2
# stateOrProvinceName     = "Enter a full US State name"
# stateOrProvinceName_min = 2                         # Weird, you can still leave it blank
# localityName            = "Enter a city name"
# organizationName        = "Enter your company name (min 1, max 42)"
# organizationName_min    = 1
# organizationName_max    = 42

# Extensions for a typical CA 
# See `man x509v3_config` or https://www.openssl.org/docs/manmaster/man5/x509v3_config.html
[ v3_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
# Specify is this is a CA and optionally how many CA's can be below this cert in the chain.
basicConstraints        = critical, CA:true
# Specify allowed operations for the private key
keyUsage                = critical, digitalSignature, keyCertSign
# Specify allowed operations for the certificate public key
# extendedKeyUsage        =
