[ ca ]
default_ca = CA_default

[ CA_default ]

dir             = ./certs/chain
serial          = $dir/serial.txt                   # Must be present and contain a valid serial number in hex.
database        = $dir/index.txt                    # File must be present.
new_certs_dir   = $dir/newcerts                     # Override with -outdir
certificate     = $dir/root_ca.crt                  # Override with -cert
private_key     = $dir/root_ca_key.pem              # Override with -keyfile
default_days    = 1000
default_md      = sha1                              # sha1 is deprecated...
preserve        = no
email_in_dn     = no
policy          = policy_match

# Certificate detail format when asking user to confirm signing.
# Defaults to old style, which is not recommended.
#TODO experimetn with this when details aren't suppressed/certs aren't generated automatically.
name_opt        = ca_default
cert_opt        = ca_default


# RANDFILE        =

# Certificate Revocation List
# crt                 =
# crl_dir             =
# crt_extensions      = crt_ext
# default_crt_days    = 30
# certs           =     ?

